<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		table,
		th,
		td {
			border: 3px solid steelblue;
			border-collapse: collapse;
		}
	</style>

	<title>libro lista</title>
</head>

<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>abertura</th>
				<th>precio de abertura</th>
				<th>tamanio</th>
				<th>precio de tamanio</th>
				<th>rubro</th>
				<th>precio de rubro</th>
				<th>total </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>abertura grande</td>
				<td>5000</td>
				<td>400</td>
				<td>0</td>
				<td>rubro rubroso</td>
				<td>40000</td>
				<td>400000</td>


			</tr>
		</tbody>
	</table>


</body>

</html>