<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>tamanio formulario</title>
</head>

<body>  
    
    <div>

   <form th:action="@{/tamanio/guardar-tamanio}" method="POST">
    <label name="descripcion_tamanio" for="name">Nombre del tamanio </label><br>
        <input type="text" placeholder="Ingrese su nombre:" name="descripcion_tamanio"  > <br>
        <label name="tamanio" for="name">tamaño </label><br>
        <input type="number" placeholder="Ingrese su tamanio:" name="tamanio" > <br>
        <label name="tamanio_precio" for="name">precio</label><br>
        <input type="number" placeholder="Ingrese su precio:" name="tamanio_precio" > <br>


    <!---input type="text" placeholder="nombre" name="nombre"/> -->
<input type="submit"/>

</form>
</div>


</body>

</html>